.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: white;
}
body {
    background-color: #3A4A4F;
    padding: 2rem 0;
}

.img-width-sidebar {
    width: 13rem;
    margin: 1rem 0;
}

.img-width-main {
    width: 20rem;
    margin: 2rem 6rem;
}

.container a {
    text-decoration: none;
    color: red;
    font-size: 0.9rem;
}
.container h3 {
    color: gray;
    font-size: 1.4rem;
}

.container p {
    color: gray;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.red-bac a {
    color: white;
}
.red-bac {
    background-color: red;
    padding: 1rem;
}

.sidebar-head h3 {
    color: white;
}

.sidebar-head {
    background-color: #0095BE;
    // padding: 1rem;
}

.item-color {
    background-color:#FFFFFF;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: 700;
}
.item-color h3 {
    padding: 1rem;
}
.item-color p, .only-a {
    padding: 0 1rem;
}